#cache
CACHE_HOST = "redis"
CACHE_PORT = "6379"
CACHE_TTL = "<you cache ttl>"
#database
DB_HOST = "postgres"
DB_PORT = "5432"
DB_USERNAME = "<you username>"
DB_NAME = "<you database name>"
DB_PASSWORD = "<you password>"

POSTGRES_USER = "<you username>"
POSTGRES_PASSWORD = "<you password>"
POSTGRES_DB = "<you database name>"
#broker
BROKER_HOST = "kafka"
BROKER_PORT = "9092"
SHORTENER_TOPIC_NAME = "<you shortener topic name>"
TASK_TOPIC_NAME = "<you task topic name>"
